@import "../../styles/variables";

.new_about_ted {
    display: flex;
    min-height: 100vh;
    width: 100%;

    .new_about_ted_left {
        width: 45%;
        color: #333333;
        padding-left: 5%;
        h1 {
            font-size: 60px;
            font-weight: 700px;
            font-family: "Aileron";
        }
        img{

        }
        p {
            font-family: "Candara";
            font-size: 20px;
            font-style: normal;
            font-weight: bold;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
            margin-bottom: 5%;
        }
    }
    .new_about_ted_right {
        width: 55%;
        color: #333333;
        .redLine_img {
        }
        p {
            padding-right: 2%;
            padding-right: 5%;
            font-family: "Candara";
            font-size: 20px;
            font-style: normal;
            font-weight: bold;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
            margin-bottom: 2.5%;
            margin-top: 5%;
        }
    }
}

@media (max-width: 1168px) {
    .new_about_ted {
        padding-bottom: 50px;
        display: flex;
        min-height: 100vh;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .new_about_ted_left {
            width: 100%;

            padding-left: 5%;
            h1 {
                font-size: 55px;
                font-weight: 700px;
                font-family: "Aileron";
            }

            //height: 85%;
            img{
                width: 45%;
            }
            

            p {
                margin-top: 2.5%;
                font-family: "Candara";
                font-size: 20px;
                font-style: normal;
                font-weight: bold;
                line-height: 30px;
                letter-spacing: 0em;
                text-align: left;
                margin-bottom: 0%;
            }
        }
        .new_about_ted_right {
            width: 100%;
            padding-left: 5%;

            .redLine_img {
                display: none;
            }
            p {
                padding-right: 5%;
                font-family: "Candara";
                font-size: 20px;
                font-style: normal;
                font-weight: bold;
                line-height: 30px;
                letter-spacing: 0em;
                text-align: left;
                margin-bottom: 2.5%;
            }
        }
    }
}

.new_about_tedx {
    display: flex;
    min-height: 90vh;
    width: 100%;
    .new_about_tedx_left {
        width: 55%;
        color: #333333;
        .tedx_redLine_img {
            margin-bottom: 15%;
        }
        p {
            padding-left: 5%;
            font-family: "Candara";
            font-size: 20px;
            font-style: normal;
            font-weight: bold;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
            margin-bottom: 5%;
        }
    }
    .new_about_tedx_right {
        width: 45%;
        color: #333333;
        padding: 0 5%;
        h1 {
            font-size: 60px;
            font-weight: 700px;
            font-family: "Aileron";
        }
        img{

        }
        p {
            margin-top: 5%;
            font-family: "Candara";
            font-size: 20px;
            font-style: normal;
            font-weight: bold;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
            margin-bottom: 2.5%;
        }
    }
}

@media (max-width:638px){
    .new_about_tedx {
        display: flex;
        min-height: 90vh;
        width: 100%;
        padding-bottom: 50px;
        flex-direction: column-reverse;
        .new_about_tedx_left {
            width: 100%;
            .tedx_redLine_img {
                display: none;
            }
            p {
                padding-left: 5%;
                font-family: "Candara";
                font-size: 20px;
                font-style: normal;
                font-weight: bold;
                line-height: 30px;
                letter-spacing: 0em;
                text-align: left;
                margin-bottom: 5%;
            }
        }
        .new_about_tedx_right {
            width: 100%;
            padding: 0 5%;
            h1 {
                font-size: 55px;
                font-weight: 700px;
                font-family: "Aileron";
            }
            img {
                width: 45%;
            }
            p {
                margin-top: 5%;
                font-family: "Candara";
                font-size: 20px;
                font-style: normal;
                font-weight: bold;
                line-height: 30px;
                letter-spacing: 0em;
                text-align: left;
                margin-bottom: 2.5%;
            }
        }
    }
}


.new_tedxVitpune {
    min-height: 90vh;
    width: 100%;
    .new_tedxVitpune_flex {
        display: flex;
        width: 100%;
        align-items: center;
        .new_tedxVitpune_flex_left {
            padding-left: 5%;
            color: #333333;
            width: 65%;
            padding-right: 2.5%;
            h1 {
                font-size: 60px;
                font-weight: 700px;
                font-family: "Aileron";
            }
            img{

            }
        }
        .new_tedxVitpune_flex_right {
            width: 35%;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }
    p {
        color: #333333;
        font-family: "Candara";
        font-size: 20px;
        font-style: normal;
        font-weight: bold;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 2.5%;
        margin-top: 2.5%;
        padding: 0 5%;
    }
}

@media (max-width: 800px){
    .new_tedxVitpune {
        min-height: 90vh;
        width: 100%;
        padding-bottom: 50px;
        .new_tedxVitpune_flex {
            
            flex-direction: column;
            .new_tedxVitpune_flex_left {
                
                width: 100%;
                
                h1 {
                    font-size: 55px;
                    
                }
                img{
                    width: 85%;
                }
            }
            .new_tedxVitpune_flex_right {
                width: 100%;
    
                img {
                    display: none;
                }
            }
        }
        p {
            color: #333333;
            font-family: "Candara";
            font-size: 20px;
            font-style: normal;
            font-weight: bold;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
            margin-bottom: 2.5%;
            margin-top: 2.5%;
            padding: 0 5%;
        }
    }
}



.new_aboutus_section {
    min-height: 100vh;
    padding: 0 5%;
    
    margin-bottom: 10em;

    .image_about {
        img {
            border-radius: 20px;
            //border:2px solid #333333;
            height: 100%;
            width: 100%;
        }
        .about_1_wrapper {
            position: absolute;
            bottom: 0%;
            padding: 0 4%;
            h1 {
                font-size: 60px;
                font-weight: 700px;
                font-family: "Aileron";
                color: white;
                padding: 0 5%;
            }
            p {
                color: white;
                font-family: "Candara";
                font-size: 20px;
                font-style: normal;
                font-weight: bold;
                line-height: 30px;
                letter-spacing: 0em;
                text-align: left;
                margin-bottom: 2.5%;
                //margin-top: 2.5%;
                padding: 0 5%;
            }
        }
    }
}

@media (max-width:1014px){
    .new_aboutus_section {
        min-height: 100vh;
        padding: 0 5%;
        
        margin-bottom: 10em;
    
        .image_about {
            img {
                
            }
            .about_1_wrapper {
                position: absolute;
                bottom: 0%;
                padding: 0 4%;
                h1 {
                    font-size: 55px;
                    font-weight: 700px;
                    font-family: "Aileron";
                    color: white;
                    padding: 0 5%;
                }
                p {
                    color: white;
                    font-family: "Candara";
                    font-size: 20px;
                    font-style: normal;
                    font-weight: bold;
                    line-height: 30px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-bottom: 2.5%;
                    //margin-top: 2.5%;
                    padding: 0 5%;
                }
            }
        }
    } 
}
@media(max-width:1000px){
    .new_aboutus_section {
        min-height: 100vh;
        padding: 0 5%;
        
        margin-bottom: 2em;
    
        .image_about {
            height: 100vh;
            img {
                width: 100%;
                //width:500px;
                height: 100%;
            }
            .about_1_wrapper {
                position: absolute;
                bottom: 0%;
                padding: 0 4%;
                h1 {
                    font-size: 55px;
                    font-weight: 700px;
                    font-family: "Aileron";
                    color: white;
                    padding: 0 5%;
                }
                p {
                    color: white;
                    font-family: "Candara";
                    font-size: 20px;
                    font-style: normal;
                    font-weight: bold;
                    line-height: 30px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-bottom: 2.5%;
                    //margin-top: 2.5%;
                    padding: 0 5%;
                }
            }
        }
    } 
}
/*New design */
