.gallery-conatiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 3rem;
  label {
    font-family: "Candara";
    font-style: normal;
    font-weight: 700;
    font-size: 135px;
    line-height: 165px;
    color: #ffffff;
    position: absolute;
  }

  & .year2019-container,
  .year2018-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    & .gallery-3img-column,
    .gallery-4img-column {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      img {
        padding: 5px;
        // width: 412px;
        height: auto;
      }
    }
    // & .gallery-3img-column {
    //   img {
    //     // max-width: 412px;
    //   }
    // }
    // & .gallery-4img-column {
    //   img {
    //     // max-width: 303.76px;
    //   }
    // }
    & .label-2019 {
      top: 18rem;
      left: 22rem;
    }
    & .label-2018 {
      top: 18rem;
      right: 25rem;
    }
  }
}
