@import "../fonts/Aileron/Aileron"; // titles text fonts
@import "../fonts/Candara/Candara"; // paragraph text fonts
@import "./_variables.scss";

@font-face {
  font-family: "Rotunda_Bold";
  src: url("../fonts/webkit/rotunda-bold-webfont.woff");
  src: local("☺"),
    url("../fonts/webkit/rotunda-bold-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Rotunda_Bold_Italic";
  src: url("../fonts/webkit/rotunda-bolditalic-webfont.woff");
  src: local("☺"),
    url("../fonts/webkit/rotunda-bolditalic-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Rotunda_Bold_Italic";
  src: url("../fonts/webkit/rotunda-bolditalic-webfont.woff");
  src: local("☺"),
    url("../fonts/webkit/rotunda-bolditalic-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Rotunda_Light";
  src: url("../fonts/webkit/rotunda-light-webfont.woff");
  src: local("☺"),
    url("../fonts/webkit/rotunda-light-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Rotunda_Light_Italic";
  src: url("../fonts/webkit/rotunda-lightitalic-webfont.woff");
  src: local("☺"),
    url("../fonts/webkit/rotunda-lightitalic-webfont.woff2") format("woff2");
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;

  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba($color-primary-dark, 0.05);
}

html {
  font-size: 62.5%;
  font-family: $font-default;
  scroll-behavior: smooth;
  // overflow: overlay;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: $color-black;
  
  color: $color-primary-light;
}

::selection {
  background-color: $color-primary-dark;
  color: $color-white;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba($color-primary-dark, 0.75);
  opacity: 0.5;
  border-radius: 1rem;
  transition: all 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba($color-primary-dark, 1);
  opacity: 1;
}

.dropdown {
  position: relative;
  &.open > .dropdown-menu {
    display: block;
  }
  .dropdown-toggle {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    border: 1px solid transparent;
    border-radius: 4px;

    .caret {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 2px;
      vertical-align: middle;
      border-top: 4px dashed;
      border-top: 4px solid\9;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
    }
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);

    li {
      cursor: pointer;
      :hover {
        background: #ddd;
      }
      & > a {
        display: block;
        padding: 5px 20px;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
        text-decoration: none;
      }
    }
  }
}
