@import "../../../styles/_variables";

.banner-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.5rem 3rem;
  & .banner-section1,
  .banner-section2,
  .banner-section3 {
    height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* width: 50%; */
    text-align: center;
    width: 100%;
    //padding-left: 6rem;
    
    
    
    & .subCountainerRg {
      width: 100%;
      & h3 {
        font-family: $font-text;
        font-style: normal;
        font-weight: 800;
        font-size: 67px;
        line-height: 124.5%;
        margin: 2rem 0rem;
      }
      & button {
        font-family: $font-default;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
        text-align: center;
        background: $color-primary-main;
        border-radius: 41px;
        padding: 1rem 4rem;
        color: $color-primary-light;
        outline: none;
        border: 1px solid transparent;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
          background: $color-primary-light;
          color: $color-primary-main;
        }
      }
    }
  }

  & .banner-section2 {
    width: 50%;
    
  }
  & .banner-section3 {
    display: none;
    height: 40rem;
    width: 100%;
  }
}

@media screen and (max-width: $medium) {
  .banner-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1.5rem;
    padding-bottom: 3rem;

    & .banner-section1 {
      width: 100%;
      & .subCountainerRg {
        padding-top: 1rem;
        & h3 {
          font-weight: 600;
          font-size: 40px;
          line-height: 100.5%;
          margin: 2rem 0rem;
        }
        button {
          font-size: 22px;
          line-height: 32px;
          padding: 0.5rem 4rem;
        }
      }
    }
    & .banner-section3 {
      display: block;
      width: 100%;
      padding-left: 0px;
    }
    .banner-section2 {
      padding: 0;
      width: 100%;
      //display: none;
      video{
        width: 100%;
        height: auto;
      }
      VidepLooper{
        height: 50vh;
      }
    }
    & .sm-padding {
      padding-bottom: 1rem;
      padding-left: 0rem;
    }
  }
}
// @media screen and (max-width: $small) {
//   .banner-container {
//     flex-direction: column;
//   }
// }
