.faqs {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    line-height: 70px;
    color: #333333;
}
.category {
    padding: 2%;
    text-align: center;
    font-family: "Rotunda_Bold", sans-serif;
    font-size: 40px;
    line-height: 50px;
    color: #333333;
}
.questions_sections {
    display: block;
    margin: 1% 10% 1% 10%;
    border-bottom: 1px solid rgb(201, 201, 201);
    position: relative;
    justify-content: center;
    text-align: center;
    font-family: "Rotunda_Light", sans-serif;
    font-weight: 600;
    color: #333333;
    font-size: 26px;
    line-height: 36px;
    .questions {
        p {
            padding: 2% 20% 2% 20%;
            display: block;
            text-align: center;
            cursor: pointer;
        }
    }
    .answer {

        justify-content: center;
        text-align: center;
        font-family: "Rotunda_Light", sans-serif;
        font-weight: 400;
        color: #333333;
        font-size: 20px;
        line-height: 26px;
        max-height: 100px;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        p {
            padding: 0% 20% 2% 20%
        }
    }
}
