.main {
    height: 100%;
    margin: 35px 0;
    .first-para {
      p {
        font-weight: 300;
        //font-size: 15px;
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 30px;
        //padding-left: 32px;
        padding-left: 15px;
      }
    }
    .second-div {
      display: flex;
      //flex-direction: row;
      margin-top: 15px;
      .para-wrapper {
        //margin-left: 10px;
        margin-left: -1px;
        letter-spacing: 1px;
        line-height: 30px;
        padding: 18px;
        //flex-wrap: wrap;
      }
    }
  
    .tagLine {
      margin: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: underline;
      a {
        color: white;
      }
    }
  }
  @media (max-width: 1118px) {
    
    #heading-h2{
        margin: 10px;
        text-align: center;
    }
    
  
    .first-para {
      p {
        font-weight: 300;
        font-size: 13px;
        letter-spacing: 1px;
        line-height: 30px;
        padding-left: 12px;
      }
    }
  
    .second-div {
      //flex-direction: column;
      margin-top: 10px;
      .para-wrapper {
        //margin-left:10px ;
        letter-spacing: 1px;
        line-height: 30px;
        padding: 5.5px;
        flex-wrap: wrap;
        font-size: 12px;
      }
    }
  
    .tagLine {
      margin: 12px;
      text-decoration: underline;
      a {
        color: white;
      }
    }
  }
  
  @media (max-width: 880px) {
  
      #heading-h2{ 
        margin: 5px;
      }
    
    .first-para {
      p {
        font-weight: 300;
        font-size: 13px;
        letter-spacing: 1px;
        line-height: 30px;
        padding-left: 12px;
      }
    }
  
    .second-div {
      flex-direction: column;
      margin-top: 10px;
      .para-wrapper {
        //margin-left:10px ;
        letter-spacing: 1px;
        line-height: 30px;
        padding: 5.5px;
        flex-wrap: wrap;
        font-size: 12px;
      }
    }
  
    .tagLine {
      margin-top: 6px;
      text-decoration: underline;
      a {
        color: white;
      }
    }
  }
  
  @media (max-width: 320px) {
    #heading-h2{
      font-size: 35px;
      margin: 5px;
    }
    .first-para {
      p {
        font-weight: 300;
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 30px;
        padding-left: 15px;
      }
    }
    .second-div {
      flex-direction: column;
      margin-top: 10px;
      .para-wrapper {
        //margin-left:10px ;
        letter-spacing: 1px;
        line-height: 30px;
        padding: 5.5px;
        flex-wrap: wrap;
        font-size: 12px;
      }
    }
    
    .tagLine {
      margin-top: 6px;
      text-decoration: underline;
      a {
        color: white;
      }
    }
    
  }
  
  